.main {
  background-color: black;
}

.prices .panel-titel {
  color: white;
}

.seat-map .seats-head .ticket {
  color: white;
}

.price button:not(.block-check) {
  color: black;
}

.btn-default {
  background-color: white;
}

.price {
  background-color: black;
}

.price .ticket {
  color: white;
}

.price-ticket {
  color: white;
}

.continue .into-basket {
  background-color: white;
  color: black;
}

.btn.continue {
  background-color: white;
  color: black;
}

.panel-title {
  color: white;
}

.discounts-total {
  color: white;
}

.discounts-collapse collapse in {
  background-color: white;
  border: 1px solid black;
}

.panel-body {
  background-color: black;
  color: white;
}

.discounts-collapse .input button {
  background-color: white;
}

.discounts .panel-body .input .glyphicon {
  background-color: black;
}

.event {
  color: white;
}

.content h1 {
  color: white;
}

.content h2 {
  color: white;
}

.panel-heading {
  background-color: black !important;
}

.panel-heading .semibold {
  background-color: black !important;
}

.prices  .panel-heading {
  background-color: black !important;
}

.prices {
  background-color: black !important;
}

.panel-body {
  background-color: black;
}

.prices {
  background-color: black;
}

.prices .panel-body {
  background-color: black !important;
}

.panel-heading {
  background-color: black;
}

.ticket-select {
  background-color: black;
}

.seat-map .plan {
  border: 1px solid white;
}

.event .panel-buttons {
  background-color: black;
}

.bootstrap-select li a {
  color: black !important;
}

.btn.back, .btn.btn-secondary {
 background-color: white !important;
  color: black !important:
}

.discounts .panel-body {
  background-color: black !important;
}

.btn-default {
 background-color: black !important;
}

.input input, .input button, .input textarea {
  color: white !important;
}

.btn.back, .btn.btn-secondary {
  background-color: white !important;
  color: black !important;
}

label {
  color: white;
}

.panel .panel-body {
  background-color: black;
}
